
body {
	min-height: 100vh;
	background-image: linear-gradient(-230deg, #e6f7fd, #eae4e9, #fae1dd, #d8e2dc, #eae4e9, #ece4db);
	background-repeat: no-repeat;
	background-position: 100%, 100%;
	box-sizing: border-box;
}

.wrapper {
	max-width: 1024px;
	margin: auto;
	background-color: #fff;
	border-radius: 10px;
	padding-top: 15px;
}

.nav {
	width: 80%;
	margin: 0 auto 20px;
	
}

.nav ul {
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	padding-left: 60px;
}

.nav-item a {
	text-decoration: none;
	font-family: 'Syncopate', serif;
	font-size: 14px;
	color: rgb(175, 169, 169);
	padding-right: 15px;
	padding-left: 20px;
	border-right: 2px rgb(175, 169, 169) solid;
}

.last a {
	border: none;
}

.header-info {
	width: 80%;
	margin: 0 auto 40px;
	background-color: #e5f3f0;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
}

.img-container {
	width: 30%;
}

.photo {
	max-width: 250px;
}

.title-container {
	width: 70%;
	margin: 30px;
}

h1 {
	font-family: 'Syncopate', sans-serif;
	padding-left: 80px;
}

.j-fe {
	border-right: 2px rgb(175, 169, 169) solid;
	padding-right: 20px;
	font-family: 'Syncopate', serif;
	color: rgb(175, 169, 169);
	padding-left: 80px;
}

.cv-page {
	font-family: 'Syncopate', serif;
	color: rgb(175, 169, 169);
	padding-left: 20px;
}

.contacts {
	display: flex;
	justify-content: flex-start;
	padding-left: 80px;
	list-style-type: none;
}

.contacts li:not(:first-child) {
	padding-left: 20px;
}

.main {
	width: 100%;
}

.info-wrapper {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 40px;
	background-color: #f8f9fa;
	border-radius: 10px;
}

.about-title {
	font-family: 'Syncopate', serif;
	padding-top: 20px;
	padding-left: 20px;
}

.about-text {
	font-size: 18px;
	font-family: 'Rokkitt', serif;
	padding: 0 20px 20px 20px;
	line-height: 1.6;
}

.experiece-education-title {
	font-family: 'Syncopate', serif;
	padding-top: 20px;
	padding-left: 20px;
}

.ee-list {
	font-size: 18px;
	font-family: 'Rokkitt', serif;
	padding-left: 40px;
	line-height: 1.6;
	list-style-type: circle;
}
 
.ee-list-item:last-child {
	padding-bottom: 18px;
}

.projects-title {
	font-family: 'Syncopate', serif;
	padding-top: 20px;
	padding-left: 20px;
}

.projects-info {
	display: flex;
	justify-content:space-around;
	list-style-type: none;
	padding: 0;
}

h3 {
	font-family: 'Rokkitt', serif;
}

.code-title {
	font-family: 'Syncopate', serif;
	padding-top: 20px;
	padding-left: 20px;
}