:root {
	--section-bg: #e9ecef;
}

body {
	height: 100vh;
	background: linear-gradient(-230deg, #e6f7fd, #eae4e9, #fae1dd, #d8e2dc, #eae4e9, #ece4db);
}

.wrapper {
	width: 1024px;
	margin: auto;
	background-color: #fff;
}
